
html {
    font-family: candara, verdana;
    background-color: #d9d9d9;
    }
  
  .content-footer,
  .masthead-heading,
  .masthead-intro {
    text-align: center;
  }
  
  h1{ text-shadow: 1px 1px 5px #c9c9c9; }
  
  .masthead {
      padding: 6em 0;
      background-image: url('https://res.cloudinary.com/dge2cjcgb/image/upload/v1584504129/Photos/Sunset_vjvftj.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-height: 26em;
      border-bottom: solid 1em  #ff820d;    
  }
  
  .masthead-intro {
      margin-bottom: 0.1em;
      font-weight: bold;
      color: #d9d9d9;
  }
  
  .masthead-heading {
      margin-top: -0.2em;
      color: #d9d9d9;
      font-size: 2.2em;
  }
  
  .overlay {
      max-width: 38em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      color: #747474;
  }
  
  
  
  .content-footer,
  .introduction-section,
  .location-section,
  .questions-section,
  .div {
      max-width: 38em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      color: #747474;
  }
  
  
  .social > li {
      display: inline-block;
  
  .content-footer > p {
      color: white;
  }
  
  